// -------------- THEME SWITCHER -------------- //

// LIGHT THEME (DEFAULT)
:root {
  // text and background color
  --c-text: #000000;
  --c-background: #E4E6E3;

  // color of background of block quote
  // (should be close to --c-text)
  --c-text-secondary: #808080;

  // header color and highlight color
  --c-header-inactive: #b6b6b6;
  --c-header-highlight: #ffff00;

  // colors for links
  --c-link-unvisited: #0000ee;
  --c-link-visited: #551a8b;
  --c-link-active: #ff0000;
}

// DARK THEME
@media (prefers-color-scheme: dark) {
  // override any color vars needed
  :root {
    // text and background color
    --c-text: #ffffff;
    --c-background: #202126;

    // color of text of block quote
    // (should be close to --c-text)
    --c-text-secondary: #B3B3B3;

    // header color and highlight color
    --c-header-inactive: #494949;
    --c-header-highlight: #A6462B;

    // colors for links
    --c-link-unvisited: #64adf1;
    --c-link-visited: #a76ff5;
    --c-link-active: #ff0000;
  }

  // invert "invert on dark appearance" images
  img.ioda {
    filter: invert(1);
  }
}


// -------------------------------------------- //

// bg color is also needed in html in order to
// block body's background propagation
// see: https://stackoverflow.com/a/61265706
html, body { background: var(--c-background); }

a:not(.headerLink) {
  color: var(--c-link-unvisited);
}
a:visited:not(.headerLink) { 
  color: var(--c-link-visited);
}
a:active:not(.headerLink), a:visited:active:not(.headerLink) {
  color: var(--c-link-active);
}

html { height: 100%; }

body {
  color: var(--c-text);
  font-family: monospace;
  font-size: 16px;
  line-height: 1.4;
  margin: 0;
  min-height: 100%;
  overflow-wrap: break-word;
}

.post-meta { text-align: right; }

h2, h3, h4, h5, h6 { margin-top: 3rem; }

hr { margin: 2rem 0; }

p { margin: 1rem 0; }

li { margin: 0.4rem 0; }

*:target { background: var(--c-header-highlight); }

.w {
  max-width: 640px;
  margin: 0 auto;
  padding: 4rem 2rem;
}

hr {
  color: var(--c-text-secondary);
  text-align: center;
  border: 0;

  &:before { content: '/////' }
  &:after { content: attr(data-content) '/////' }
}

table { width: 100%; }

table, th, td {
  border: thin solid var(--c-text-secondary);
  border-collapse: collapse;
  padding: 0.4rem;
}


//
// PYLINT CODE FORMATTING
// 

code {
  // display code as a block, and allow it to scroll if lines are too long
  display: block;
  overflow-x: auto;

  // make sure text doesn't hit the edges of the block
  padding-top: 8px;
  padding-bottom: 8px;
  margin: 8px;
}

// explicitly set margins to make both fenced blocks and highlight blocks
// take up the same space as each other
figure.highlight, div.highlight {
  margin: 0px;
}

// do not allow line numbers to be highlighted if they are shown
code td.gutter {
  color: var(--c-text-secondary);
  text-align: right;
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
}

// get rid of large margins on preformatted text in pygments tables
code td pre {
  margin-top: 0px;
  margin-bottom: 0px;
}

// override general table formatting to hide borders on this table
.highlight table, .highlight th, .highlight td {
  border: thin solid transparent;
}

blockquote {
  border-left: 2px solid var(--c-text-secondary);
  color: var(--c-text-secondary);
  padding-left: 1rem;
  margin-left: 2rem;
}

img {
  max-width: 100%;
  display: block;
  margin: 0 auto;
}

img.signature {
  width: 30%;
  display: block;
  margin-left: auto;
  margin-right: 0;
}

/* Fade target transparent over 1.5 seconds */
*:target {
    background: var(--c-header-highlight); /* fallback to non-animated color if animation unsupported */
    animation: fade_to_transparent 1.5s forwards
}
@keyframes fade_to_transparent {
    from {
        background: var(--c-header-highlight);
    }
    to {
        background: transparent;
    }
}

/* Format links to headers in a less obtrusive way,  */
.headerLink {
    color: var(--c-header-inactive);
    padding-left: 1ex;
    text-decoration: none;
}
.headerLink:hover {
    color: var(--c-text);
}

.navlist {
    list-style: none;
    display: inline-block;
    padding: 0;

    li {
        display: inline;
        padding: 1ex;
    }
}
